:root{
    /* colores de la pagina */
    --white: #F7F7F7;
    --grey: #C7C7B0;
    --grey-2: #808080;
    --yellow: #DBD500;
    --background: #1D1B20;
    --background-card: #161519;
    --black: #000000;

    /* fuentes */
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Nova Mono', monospace;

    /* line-height */
    --height-p: 1.6;

    /* tamanos de letra escritorio */
    --name-desktop: 70px;
    --description-desktop: 30px;
    --title-desktop: 30px;
    --subtitle-desktop: 20px;
    --text-desktop: 15px;
    --small-text-desktop: 12px;
    
    /* tamanos de letra mobile */
    --name-mobile: 50px;
    --description-mobile: 30px;
    --title-mobile: 20px;
    --subtitle-mobile: 15px;
    --text-mobile: 10px;
    --small-text-mobile: 8px;

    
    --width-navbar: 84vw;
    --padding-navbar: 8vw;
    
    --width-links: 82vw;
    --padding-links: 9vw;


    /* tamaños de imagenes */
    --logo-size: 60px;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
    font-family: var(--font-1);
    color: var(--white);

    background-color: var(--background);
}