.linksConatiner{
    position: fixed;
    width: var(--width-links);
    padding: 0 var(--padding-links);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;

    z-index: 0;

    font-family: var(--font-2);
    font-weight: 400;
    font-size: var(--text-desktop);
    letter-spacing: 2px;
}

/* ---------------- Icons */
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconGithub, .iconLinkedin{
    width: 30px;
    height: 30px;
    background-color: var(--white);

    cursor: pointer;
    transition: all 0.3s ease;
}

.iconGithub{
    mask: url(../../../assets/github1.svg);
    mask-size: cover;
}

.iconLinkedin{
    margin-top: 30px;
    mask: url(../../../assets/linkedin1.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
}

/* ------------------ Line */
.line{
    width: 2px;
    height: 120px;
    margin-top: 60px;
    mask: url(../../../assets/line1.svg);
    mask-repeat: no-repeat;
    background-color: var(--white);

    transition: all 0.3s ease;
}

/* ----------------- email */
.emailContainer{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    text-decoration: none;
    color: var(--white);
    transform: rotate(90deg);
    margin-bottom: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* -------------------- hovers */
.email:hover{
    color: var(--yellow);
}

.iconGithub:hover, .iconLinkedin:hover, .icons_imgs:hover + .line, .email:hover + .line{
    background-color: var(--yellow);
}
