.linksConatiner{
    position: fixed;
    width: var(--width-links);
    padding: 0 var(--padding-links);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;

    z-index: 0;

    font-family: var(--font-2);
    font-weight: 400;
    font-size: var(--text-desktop);
    letter-spacing: 2px;
}


.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconGithub{
    width: 30px;
    height: 30px;
    mask: url(../../../assets/github1.svg);
    mask-size: cover;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
}
.iconGithub:hover{
    mask: url(../../../assets/github1.svg);
    mask-size: cover;
    background-color: var(--yellow);

}

.iconLinkedin{
    width: 30px;
    height: 30px;
    margin-top: 30px;
    mask: url(../../../assets/linkedin1.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--white);

    cursor: pointer;
    transition: all 0.3s ease;
}
.iconLinkedin:hover{
    mask: url(../../../assets/linkedin1.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--yellow);
}


.line{
    width: 2px;
    height: 120px;
    margin-top: 60px;
    mask: url(../../../assets/line1.svg);
    mask-repeat: no-repeat;
    background-color: var(--white);

    transition: all 0.3s ease;
}
.icons_imgs:hover + .line{
    mask: url(../../../assets/line1.svg);
    mask-repeat: no-repeat;
    background-color: var(--yellow);
}
.email:hover + .line{
    mask: url(../../../assets/line1.svg);
    mask-repeat: no-repeat;
    background-color: var(--yellow);
}



.emailContainer{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    transform: rotate(90deg);
    margin-bottom: 100px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.email:hover{
    color: var(--yellow)
}