.aboutMeContainer{
    width: 100vw;
    height: 1700px;

    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/* ---------------- Intro */
.introContainer{
    padding-top: 180px;
    padding-bottom: 180px;

    width: 55%;
    margin: auto;
}

.greet{
    font-family: var(--font-2);
    font-weight: 100;
    font-size: var(--text-desktop);
    color: var(--yellow);
    letter-spacing: 1px;
}

.name{
    font-family: var(--font-1);
    font-weight: 700;
    font-size: var(--name-desktop);
    color: var(--white);
    letter-spacing: 8px;

    margin: 0;
}

.description{
    font-family: var(--font-1);
    font-weight: 100;
    font-size: var(--description-desktop);
    color: var(--grey);

}



/* ---------- Information */
.infoContainer{
    width: 55%;
    margin: auto;
}

/* ------ ME */
.me{
    width: 55%;
}

.title{
    text-transform: uppercase;
    color: var(--grey);
    font-family: var(--font-1);
    font-size: var(--title-desktop);
    font-weight: 600;
}
.number{
    margin-right: 10px;
    color: var(--yellow);
    font-family: var(--font-2);
    font-weight: 100;
}

.text{
    margin-bottom: 40px;

    line-height: var(--height-p);
    color: var(--grey);
    font-family: var(--font-1);
    font-weight: 100;
    font-size: var(--text-desktop);
}
.highlight{
    color: var(--yellow);
    font-weight: 200;
}

.languagesContainer{
    width: 100%;
    display: flex;
    color: var(--grey);
    font-family: var(--font-1);
    font-weight: 100;
    font-size: var(--text-desktop);
}
.languages{
    list-style-type: none;
    margin: 0;
    margin-right: 50px;
    padding: 0;
}
.item{
    margin-bottom: 10px;
}
.iconList{
    width: 10px;
    height: 10px;
    margin-right: 15px;
}

/* ------- Photo */
.linesContainer{
    position: absolute;
    height: auto;
    width: 100vw;
    left: 0;
    top: 550px;
}
.cover{
    opacity: 1;
    position: absolute;
    z-index: 7;
    margin-top: 160px;
    right: 22%;
    width: 300px;
    height: 300px;
    background-color: rgba(99, 99, 0, 0.409);
    border-radius: 100%;

    transition: all 0.4s ease;
}
.cover:hover{
    opacity: 0; 
    filter: contrast(100%) brightness(100%) saturate(100%);
}

.photo{
    position: absolute;
    z-index: 6;
    margin-top: 160px;
    right: 22%;
    width: 300px;
    height: 300px;
    background-image: url(../../../assets/foto1.webp);
    filter: contrast(140%) brightness(140%) saturate(100%);
    background-size: 310px;
    background-position: top -35px right 0px;
    border-radius: 100%;

    transition: all 0.4s ease;
}
.cover:hover + .photo {
    filter: contrast(100%) brightness(100%) saturate(100%);
}

.line{
    position: absolute;
    right: 15%;
    top: 130px;
    z-index: 5;
    width: 400px;
    height: 900px;
    background-image: url(../../../assets/line4.svg);
    background-repeat: no-repeat;
}


/* ------- Education */
.studiesContainer{
    width: 100%;
}

.studiesTitle{
    position: absolute;
    right: 20%;
    top: 730px;
}

.card{
    width: 350px;
    padding: 20px 40px;
    background-color: #80808015;
    display: block;
    justify-content: center;
    font-family: var(--font-1);
}
.cardTitle{
    font-size: var(--subtitle-desktop);
    font-weight: 400;
    color: var(--grey);
    margin: 0;
}
.cardSubtitle{
    font-size: var(--small-text-desktop);
    font-weight: 300;
    color: var(--yellow);
    margin: 10px 0;
}
.cardText{
    font-size: var(--small-text-desktop);
    font-weight: 200;
    color: var(--grey);
    margin: 0;
}

.card1{
    position: absolute;
    right: 38%;
    top: 630px;
}

.card2{
    position: absolute;
    right: 44%;
    top: 810px;
}